<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>regex</title>
</head>

<body background-size: cover; background-repeat: no-repeat; background="https://images.unsplash.com/photo-1516641051054-9df6a1aad654?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bWF0aHMlMjBiYWNrZ3JvdW5kJTIwaW1hZ2V8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" >
    
    <center>
        <h1 style="color: red ;font-size: 70px ; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Regex</h1>
        <form action="{{url_for('index_func')}}" method="post">
            <label style="font-size: 35px; font-family: cursive;">Regex</label>
            <input type="text" name="in_1" placeholder="Enter the Regex Expression" size="100%">
            <br>
            <br>
            <label style="font-size: 35px;font-family: cursive;">String</label>
            <input type="text" name="in_2" placeholder="Enter the String" size="100%">
            <br />
            <br>
            <button style="background-color: white; font-size: 35px;font-family: cursive;" ,type="sibmit" class="button"> Submit</button>
        </form>
    </center>

</body>

</html>